<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       {{>headerlink}}
</head>
<body>
   {{>navbar}}
   <div class="container -fluid main_header ">
    <div class="row">
         <div class="col-md-10 col-12 mx-auto" >
            <div class="row">
             <!--left side div-->
              <div class="col-md-6 col-12 main_header_right align-items-center">
                  <figure>
                    <img src="image/about.png" alt="thapa" class="img-fluid" title="thapa technical">
                 </figure>
              </div>
            <!--right side div-->
             <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I am a  <span class="text_color">Mern Stack Developer</span></h1>
                    <a href="https://www.youtube.com/channel/UCSwVEQNNdgOZ7ZSS9OZjVMQ" target="_swati"><button>About me</button></a>
              </div>
            </div>
         </div>
      </div>     
   </div>
   <!--footer-->
    {{>footer}}
</body>
</html>